@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;

}

* {
  box-sizing: border-box;
 
  
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-image: url(./assets/images/mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(13, 109, 126);
  font-family: 'Poiret One', cursive;

}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}


a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  align-items: center;
}

header a {
  color: rgb(13, 109, 126);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

.form {
  margin: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: purple;
}

nav  li {
  cursor: pointer;

}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

button {
	background: rgb(13, 109, 126);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a:hover {
  color: var(--primary);
}



.works {
  display: flex;
  
}

section {
  text-align: center;
}

#contact-form {
  display: inline-block;
  text-align: left;
}

.form {
  margin-top: 20px;
}

label {
  display: flex;
}

header {
 justify-content: center;
 padding: 10px 0;
 font-size: 30px;
}

header a {
  padding: 0 60px;
}

.natepic {
  width: 10%;
  margin: 0 auto;
  justify-content: center;
}

h2 {
  font-weight: bold;
  color: rgb(231, 240, 236);
}

#about {
  font-weight: bold;
}

p {
  color: rgb(233, 242, 245);
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.works {
  justify-content: center;
  margin-top: 80px;
}

#work {
  width: 30%;
  margin: 20px;
  border: 5px solid black;
  height: 300px;
  background-repeat: no-repeat;
}

.hero {
  background-image: url(/src/assets/images/jacksofAllTrades.png);
  background-size: 595px;
  background-position: right;
}

.google {
  background-image: url(/src/assets/images/google\ marker.png);
  background-position: center;
  background-size: 390px;
  border-radius: 50%;
}

.slim {
  background-image: url(/src/assets/images/slimpickins.png);
  background-position: center;
  background-size: 600px;
}

#work:hover {
  opacity: 85%;
}

.paragraph {
  margin: 0 200px;
  background-color: rgb(13, 109, 126);
  padding-bottom: 20px;
}

.resume {
  margin: 20px;

}

.skills {
  color: rgb(13, 109, 126);
  font-family: 'Poiret One', cursive;
  margin: 30px;
}

ul {
  color: white;
  margin-top: 20px;
}

.download {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.download:hover {
  color: rgb(13, 109, 126);
}

footer {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.icon {
  width: 50px;
  margin: 50px;
  padding: 0;
}

.icons {
  display: flex;
}

.icon:hover {
  opacity: 0.5;
}

li {
  font-size: 20px; 
}

.name {
  color: black;
}

.list {
  background-color: black;
  width: 190px;
  margin: auto;
  border-radius: 25px;
}

div li {
  margin: 5px 0;
}

/* a {
  color: rgb(13, 109, 126);
  text-decoration: none;
  text-transform: uppercase;
} */